.weatherbg {
    margin: -130px 5px 50px 60px;
    max-width: 100%;
    height: auto;
}

.weatherbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    position: relative;
    margin: 10px auto;
    background-color: #CECECE;
    padding: 60px 10px;
    max-width: 672px;
    width: 90%;
    border-radius: 20px;
    height: 140px;
}

.daynight {
    color: #123C69;
    font-size: 20px;
}

.icon1 {
    color: #123C69;
    font-size: 20px;
}

.temp {
    color: #123C69;
    font-size: 20px;
    position: relative;
    right: 11%;
    margin-top: 40px;
}

/* 
Responsiveness querries */

@media screen and (max-width: 400px) {
    .weatherbg {
        position: absolute;
        left: -10%;
        height: 30vh;
        width: 60vw;
        object-fit: cover;
        border-radius: 20px;
        position: absolute;
        top: 45%;
    }

    .weatherbar {
        direction: flex;
        flex-direction: column;
        margin-top: 10vh;
        width: 90%;
        height: auto;
        padding: 5px 5px;
        justify-content: center;
        align-items: center;
    }

    .daynight {
     margin-top: 2vh;
        margin-left: auto;
        margin-right: auto;
    }

    .icon1 {
         margin: 1vh 1vw;
    }

    .temp {
              margin: -2% 10px 5% 25%;
    }


}